{{ define "main" }}
  <div role="main" class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}

        <div class="posts-list">
          <p class="post-caption">{{ i18n "latestPosts" }}</p>
          {{ range first 5 (where .Site.Pages.ByDate.Reverse "Params.highlight" true ) }}
            {{ if not .Params.draft -}}
              <article class="post-preview">
                <a href="{{ .Permalink }}">
                  <h2 class="post-title">{{ .Title }}</h2>
                  {{ if .Params.subtitle }}
                    <h3 class="post-subtitle">
                    {{ .Params.subtitle }}
                    </h3>
                  {{ end }}
                </a>

                {{ partial "post_meta.html" . }}
                <div class="post-entry">
                  {{ if .Truncated }}
                    {{ .Summary }}
                    <a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>
                  {{ else }}
                    {{ .Content }}
                  {{ end }}
                </div>

                {{ if .Params.tags }}
                  <span class="post-meta">
                  {{ range .Params.tags }}
                    #<a href="{{ $.Site.LanguagePrefix }}/tags/{{ . | urlize }}">{{ . }}</a>&nbsp;
                  {{ end }}
                  </span>
                {{ end }}
              </article>
            {{ end }}
          {{ end }}
        </div>

          <ul class="pager main-pager">
            <li>
              <a href="{{ $.Site.LanguagePrefix }}/news/">{{ i18n "allNews" }}</a>
            </li>
            <li>
              <a href="{{ $.Site.LanguagePrefix }}/events/">{{ i18n "allEvents" }}</a>
            </li>
            <li>
              <a href="{{ $.Site.LanguagePrefix }}/editorials/">{{ i18n "allEditorials" }}</a>
            </li>
          </ul>

<!--
        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pager main-pager">
            {{ if .Paginator.HasPrev }}
              <li class="previous">
                <a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}">&larr; {{ i18n "newerPosts" }}</a>
              </li>
            {{ end }}
            {{ if .Paginator.HasNext }}
              <li class="next">
                <a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}">{{ i18n "olderPosts" }} &rarr;</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
-->
      </div>
    </div>
  </div>
{{ end }}

